<h1>Arbeitsübersicht</h1>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">Datum</th>
    <th scope="col">Start</th>
    <th scope="col">Ende</th>
    <th scope="col">Pause</th>
    <th scope="col">Tätigkeiten</th>
    <th scope="col">Bearbeiten</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">01.12.2021</th>
    <td>8:00</td>
    <td>17:00</td>
    <td>12:00</td>
    <td>13:00</td>
    <th><button class="btn btn-primary">Bearbeiten</button> </th>
  </tr>
</table>
