<h1>Arbeitsübersicht</h1>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">Datum</th>
    <th scope="col">Start</th>
    <th scope="col">Ende</th>
    <th scope="col">Pause Anfang</th>
    <th scope="col">Pause Ende</th>
    <th scope="col">Tätigkeiten</th>
    <th scope="col">Bearbeiten</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let arbeitszeit of arbeitszeit">
    <th scope="row">{{arbeitszeit.datum }}</th>
    <td>{{arbeitszeit.astart}}</td>
    <td>{{arbeitszeit.aende}}</td>
    <td>{{arbeitszeit.pstart}}</td>
    <td>{{arbeitszeit.pende}}</td>
    <td>{{arbeitszeit.taetigkeiten}}</td>
    <th><button class="btn btn-primary">Bearbeiten</button> </th>
  </tr>

</table>
