<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard">Home</a>
      <a mat-list-item routerLink="zeiterfassung">Zeiterfassung</a>
      <a mat-list-item routerLink="/arbeitsuebersicht">Arbeitsübersicht</a>
      <a mat-list-item routerLink="/urlaub">Urlaub eintragen</a>
      <a mat-list-item routerLink="/abwesenheit">Abwesenheitsübersicht</a>
      <a mat-list-item routerLink="/teamzeiten">Arbeit des Teams</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Zeiterfassungstool</span>
      <div id="button" *ngIf="isLoggedIn()">
      <button  class="btn btn-secondary" (click)="logout()">Log out</button>
      </div>
    </mat-toolbar>
    <router-outlet *ngIf="isLoggedIn()"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
