<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Login</h1>
    </div>
    <div class="card-body">
      <label class="form-label">E-Mail</label>
      <input type="text" class="form-control" [(ngModel)]="email">
      <label class="form-label">Passwort</label>
      <input class="form-control" type="password" [(ngModel)]="password">

      <button type="submit" class="btn btn-primary" (click)="login()">Einloggen</button>
      <button class="btn btn-secondary">Passwort vergessen</button>

    </div>
  </div>
</div>
