<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Login</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm">
      <label class="form-label">E-Mail</label>
      <input class="form-control">
      <label class="form-label">Passwort</label>
      <input class="form-control" type="password">
      <button type="submit" class="btn btn-primary">Einloggen</button>
      <button class="btn btn-secondary">Passwort vergessen</button>
      </form>
    </div>
  </div>
</div>
