<div class="card" id="main">
  <div class="card-header">
    <h1>Arbeitszeit erfassen</h1>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col">
        <label class="form-label">Datum</label>
        <input type="date" class="form-control">
      </div>
      <div class="col">
        <label class="form-label">Zeit total</label>
        <input class="form-control" readonly>
      </div>
    </div>
      <div class="card">
        <div class="card-header">
          <h5>Arbeitszeit</h5>
        </div>
        <div class="card-body">
    <div class="row">
      <div class="col">
        <label class="form-label">Start</label>
        <input type="time" class="form-control">
      </div>
      <div class="col">
        <label class="form-label">Ende</label>
        <input type="time" class="form-control">
      </div>
    </div>
      </div>
      </div>
        <div class="card">
          <div class="card-header">
            <h5>Pause</h5>
          </div>
          <div class="card-body">
    <div class="row">
      <div class="col">
        <label class="form-label">Von</label>
        <input type="time" class="form-control">
      </div>
        <div class="col">
        <label class="form-label">Bis</label>
        <input type="time" class="form-control">
      </div>
      </div>
          </div>
        </div>
    <div class="card">
      <div class="card-header">
        <h5>Tätigkeiten</h5>
      </div>
      <div class="card-body">
            <div class="row">
              <div class="col">
                <textarea class="form-control"></textarea>
              </div>
            </div>
            </div>
    </div>
        </div>
    <div class="form-group">
      <button class="btn btn-primary">Antrag einreichen</button>
      <button class="btn btn-secondary">Abbrechen</button>
    </div>
  </div>


