<div class="card" id="main">
  <div class="card-header">
    <h1>Arbeitszeit erfassen</h1>
  </div>
  <form #f="ngForm">
  <div class="card-body">

    <div class="row">
      <div class="col">
        <label class="form-label">Datum</label>
        <input required type="date" class="form-control" [(ngModel)]="datum" name="datum" >
      </div>
      <div class="col">
        <label class="form-label">Projekt</label>
        <br>
          <select required class="form-select" [(ngModel)]="projekt" name="projekt">
        <option value="Projekt auswählen">Projekt auswählen:</option>
        <option value="Projekt A">Projekt A</option>
        <option value="Projekt B">Projekt B</option>
        <option value="Projekt C">Projekt C</option>
        <option value="Projekt D">Projekt D</option>
      </select>
      </div>
    </div>
      <div class="card">
        <div class="card-header">
          <h5>Arbeitszeit</h5>
        </div>
        <div class="card-body">
    <div class="row">
      <div class="col">
        <label class="form-label">Start</label>
        <input required type="time" class="form-control" [(ngModel)]="astart" name="astart">
      </div>
      <div class="col">
        <label class="form-label">Ende</label>
        <input required type="time" class="form-control" [(ngModel)]="aende" name="aende">
      </div>
    </div>
      </div>
      </div>
        <div class="card">
          <div class="card-header">
            <h5>Pause</h5>
          </div>
          <div class="card-body">
    <div class="row">
      <div class="col">
        <label class="form-label">Von</label>
        <input required type="time" class="form-control" [(ngModel)]="pstart" name="pstart">
      </div>
        <div class="col">
        <label class="form-label">Bis</label>
        <input required type="time" class="form-control" [(ngModel)]="pende" name="pende">
      </div>
      </div>
          </div>
        </div>
    <div class="card">
      <div class="card-header">
        <h5>Tätigkeiten</h5>
      </div>
      <div class="card-body">
            <div class="row">
              <div class="col">
                <textarea required class="form-control" [(ngModel)]="taetigkeiten" name="taetigkeiten"></textarea>
              </div>
            </div>
            </div>
    </div>

        </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!f.valid">Eintrag hinzufügen</button>
      <button class="btn btn-secondary">Abbrechen</button>
    </div>
</form>
  </div>


